<!doctype html>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tommasina's IdeaBox</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1>Tommasina's IdeaBox</h1>
      <%= render partial: "idea_form" %>
    </div>
    
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/stylesheets/ideas.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="assets/javascripts/jquery-2.1.4.min.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>
    <script src="assets/javascripts/ideas.js"></script>

    
  </body>
</html>
